body{
  /*color: white*/
  background-color: black;
}

.container-img{
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.container-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 15%;
}