body{
  /*color: white*/
  background-color: black;
}

.container-img{
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.container-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 15%;
}

#carouselGallery{
max-width: 1000px;
margin: 0 auto;
}

#carouselGallery img{
  max-height: 500px;
  object-fit: contain;
}

.img-taller {
  max-width: 250px;   /* ancho máximo */
  max-height: 250px;  /* altura máxima */
  object-fit: cover;  /* recorta manteniendo proporción */
}
